body {
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 12px 18px;
    background:#ffffff;
    border-bottom: 1px solid #47474725;
    position: sticky;
    top: 0;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: #0b1a3a;
}

.logo {
    height: 36px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.sub {
    font-size: 12px;
}

nav ul {
    list-style: none; /* menghilangkan titik list */
    display: flex;
    flex-direction: row;
    gap: 25px;
}

nav ul li a {
    text-decoration: none; /* untuk menghilangkan garis bawah */
    color: #000000;
    font-size: 12px;
}

.right-section {
    display: flex;
    gap: 16px;
}

.search {
    width: 100%;
    display: flex;
    border: 1px solid #000000; /*solid itu garis pinggiran*/
    border-radius: 8px;
}

.logo-search {
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.search input {
    border: none; /*menghilangkan border cari default*/
    padding: 10px;
    font-size: 14px;
    outline: none; /* menghilangkan garis luar kalo kita pencet cari*/
}

.language {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-bahasa {
    width: 20px;
    height: 20px;
    display: flex;
}

.select {
    border: 1px solid #e2e6ef;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 14px;
}

.account {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}

.account a{
    text-decoration: none;
    color: #000000;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover; /* agar foto tidak melebar */
}

/*Main*/

.main-content {
    width: 90%;
    margin: auto;
}

.main-content h2 {
    margin-bottom: 15px;
}

.search-box {
    margin-bottom: 25px;
}

.search-box input {
    width: 100%;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.guru-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: #ddd;
    height: 100px;
}

.guru-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.guru-card .info-guru {
    flex: 1;
}

.guru-card h4 {
    margin: 0;
    font-size: 14px;
}

.guru-card p {
    margin: 2px 0 0;
    font-size: 12px;
    color: gray;
}

.guru-card button {
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
}

.guru-card button:hover {
    background : rgb(224, 224, 224);
}

footer {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.textfooter {
  display: flex;
  gap: 20px;
  font-size: 12px;
}

.logososmed {
  display: flex;
  gap: 20px;
}

.logososmed img {
  width: 20px;
  height: 20px;
}

@media (max-width: 900px) {
    .card-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .card-grid{
        grid-template-columns: 1fr;
    }
}