html, body {
  height: 100%;
}

body {
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  gap: 16px;
  padding: 12px 18px;
  background:#ffffff;
  border-bottom: 1px solid #47474725;
  margin-right: 5px;
  position: sticky;
  top: 0;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  color: #0b1a3a;
}

.logo {
  height: 36px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.sub {
  font-size: 12px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
}

.right-section {
  display: flex;
  gap: 16px;
}

.search {
  width: 100%;
  display: flex;
  border: 1px solid #000000; 
  border-radius: 8px;
}

.logo-search {
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.search input {
  border: none; /*menghilangkan border cari default*/
  padding: 10px;
  font-size: 14px;
  outline: none; /* menghilangkan garis luar kalo kita pencet cari*/
}

.language {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-bahasa {
  width: 20px;
  height: 20px;
  display: flex;
}

.select {
  border: 1px solid #e2e6ef;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 14px;
}

.account {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}

.account a{
  text-decoration: none;
  color: #000000;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover; /* agar foto tidak melebar */
}

main {
 flex: 1;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 40px;
}

.profile-scan {
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scan-img {
    width: 180px;
}

.divider {
    width: 70%;
    height: 1px;
    background: #ccc;
    margin: 40px auto;
}

.card {
    width: 350px;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.08);
    text-align: center;
}

.card-title {
    margin-top: 5px;
    font-weight: bold;
    font-size: 18px;
}

.info {
    margin-top: 15px;
    font-size: 14px;
    color: #444;
}

.info i {
    margin-right: 5px;
}

/*FOOTER*/

footer {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textfooter {
  display: flex;
  gap: 20px;
  font-size: 12px;
}

.logososmed {
  display: flex;
  gap: 20px;
}

.logososmed img {
  width: 20px;
  height: 20px;
}