body {
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 12px 18px;
  background:#ffffff;
  border-bottom: 1px solid #47474725;
  position: sticky;
  top: 0;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  color: #0b1a3a;
}

.logo {
  height: 36px;
  border-radius: 8px;
  margin-left: 10px;
}

.sub {
  font-size: 12px;
}

nav ul {
  list-style: none; /* menghilangkan titik list */
  display: flex;
  flex-direction: row;
  gap: 25px;
}

nav ul li a {
  text-decoration: none; /* untuk menghilangkan garis bawah */
  color: #000000;
  font-size: 12px;
}

.right-section {
  display: flex;
  gap: 16px;
}

.language {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-bahasa {
  width: 20px;
  height: 20px;
}

.select {
  border: 1px solid #e2e6ef;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 14px;
}

.account {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}

.account a{
  text-decoration: none;
  color: #000000;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover; /* agar foto tidak melebar */
}

/*MAIN*/

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.main-card {
  width: 95%;
  max-width: 1300px;
  padding: 35px;
  border-radius: 15px;
  border: 1px solid #ffffff;
  background: #ffffff;
  margin: 40px auto;
}


.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.desc {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

.student-card {
  padding: 25px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}

.student-photo {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
}

.button-area {
  display: flex;
  gap: 15px;
}

.download-btn,
.qr-btn {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.download-btn {
  background: #d9534f;
  color: white;
}

.qr-btn {
  background: #ffffff;
  border: 1px solid #ccc;
}

.qr {
  margin-left: auto;
}

/*FOOTER*/
footer {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-top: 150px;
}

.textfooter {
  display: flex;
  gap: 20px;
  font-size: 12px;
}

.logososmed {
  display: flex;
  gap: 20px;
}

.logososmed img {
  width: 20px;
    height: 20px;
}