body {
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 12px 18px;
  background:#ffffff;
  border-bottom: 1px solid #47474725;
  margin-right: 5px;
  position: sticky;
  top: 0;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  color: #0b1a3a;
}

.logo {
  height: 36px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.sub {
  font-size: 12px;
}

nav ul {
  list-style: none; /* menghilangkan titik list */
  display: flex;
  flex-direction: row;
  gap: 25px;
}

nav ul li a {
  text-decoration: none; /* untuk menghilangkan garis bawah */
  color: #000000;
  font-size: 12px;
}

.right-section {
  display: flex;
  gap: 16px;
}

.search {
  width: 100%;
  display: flex;
  border: 1px solid #000000; /*solid itu garis pinggiran*/
  border-radius: 8px;
}

.logo-search {
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.search input {
  border: none; /*menghilangkan border cari default*/
  padding: 10px;
  font-size: 14px;
  outline: none; /* menghilangkan garis luar kalo kita pencet cari*/
}

.language {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-bahasa {
  width: 20px;
  height: 20px;
  display: flex;
}

.select { 
  border: 1px solid #e2e6ef;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 14px;
}

.account {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}

.account a{
  text-decoration: none;
  color: #000000;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover; /* agar foto tidak melebar */
}


/*Main*/
.konten-utama{
  padding: 20px;
  background: white;
  border-radius: 10px;
  margin: 20px;
}
.quiz{
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: #ddd;
    height: 100px;
}
.quiz img{
  width: 55px;
  height: 55px;
  background: #f85a1c;
  border-radius: 10%;
  padding: 10px;
}
.status{
  display: flex;
  gap: 17px;
  padding-left: 13px;
}
.status-abu{
  color: #ffffff;
  font-weight: 600;
  background: #ababab;
  padding: 8px 15px;
  border-radius: 100px;
  font-size: 0.9em;
}
.status-hijau{
  color: #ffffff;
  font-weight: 600;
  background: #10cd30;
  padding: 8px 15px;
  border-radius: 100px;
  font-size: 0.9em;
}
.main-quiz{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding-top: 20px;
}
.soal-quiz{
  background: #e2561f20;
  padding: 20px;
  border-radius: 10px;
  padding-bottom: 90px;
  margin-bottom: 5pxpx;
  border: 1px solid #ddd;
}
.daftar-soal{
  background: #ababab20;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.nomor-soal{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0px 20px;
  gap: 20px;
}
.nomor-soal p{
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  background: #10cd30;
  padding: 8px 15px;
  border-radius: 10px;
}
.opsi-jawaban{
    display: flex;
    align-items: center;
    gap: 15px;
}
.soal-sudah{
    padding: 0px 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.soal-ragu{
    padding: 0px 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.soal-belum{
    padding: 0px 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}




/* Footer*/
footer {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textfooter {
  display: flex;
  gap: 20px;
  font-size: 12px;
}

.logososmed {
  display: flex;
  gap: 20px;
}

.logososmed img {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
    header {
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
        gap: 0;
        padding: 10px;
        border-radius: 0; 
    }
    nav {
        display: none;
    }
    .brand {
        justify-content: flex-start;
    }

    .right-section {
        width: auto;
        justify-content: flex-end;
    }
    .language .select {
        display: none; 
    }
    .container {
        flex-direction: column;
        padding: 0;
    }

    footer {
        display: none;
    }
}